<div class="order-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="box text-center" id="step1-order">
        <h2>Delivery Address</h2>
        <form name="order-form-2" id="order-form-2" ng-controller="orderInfoController">
          <label for="firstName" class="label-ing"> FIRST NAME</label>
            <input name="firstName" type="text" placeholder="First Name" ng-model="orderServiceInfo.order.firstName"></input>
          <label for="surname" class="label-ing"> SURNAME </label>
            <input name="surname" type="text" placeholder="Surname" ng-model="orderServiceInfo.order.surname"></input>
          <label for="street" class="label-ing"> STREET/NO  </label>
            <input name="street" class="label-half" type="text" placeholder="Street" ng-model="orderServiceInfo.order.street"></input>
            <input name="streetno" class="label-half2" type="text" placeholder="No." ng-model="orderServiceInfo.order.streetno"></input>
          <label for="postcode" class="label-ing"> POSTCODE / CITY  </label>
            <input name="postcode" class="label-postcode" type="text" placeholder="Postcode" ng-model="orderServiceInfo.order.postcode"></input>
            <input name="city" class="label-postcode2" type="text" placeholder="City" ng-model="orderServiceInfo.order.city"></input>

        <div class="red-btn smaller"><a ng-click="addInfo(orderServiceInfo)" ng-href="/step">Back</a></div>
        <div class="red-btn smaller"><a ng-click="addInfo(orderServiceInfo)" ng-href="/step3" >Next <img src="/assets/next_icon@2x.png" alt="next-img" width="37px"/></a></div>
        </form>
      </div>
    </div>
  </div>


</div>  